<footer class="page-footer text-center bg-light mt-4 py-4 wow fadeIn">
  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="text-primary mr-3">
      <i class="fab fa-facebook-f"></i>
    </a>

    <a href="https://twitter.com/MDBootstrap" target="_blank" class="text-primary mr-3">
      <i class="fab fa-twitter"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank" class="text-primary mr-3">
      <i class="fab fa-youtube"></i>
    </a>

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank" class="text-primary mr-3">
      <i class="fab fa-google-plus-g"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank" class="text-primary mr-3">
      <i class="fab fa-dribbble"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank" class="text-primary mr-3">
      <i class="fab fa-pinterest"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank" class="text-primary mr-3">
      <i class="fab fa-github"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank" class="text-primary mr-3">
      <i class="fab fa-codepen"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!-- Copyright -->
  <div class="footer-copyright py-2">
    &copy; 2023 YourStore | All rights reserved | <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"
      class="text-primary">MDBootstrap.com</a>
  </div>
  <!--/.Copyright-->
</footer>